:root {
  --default-font-stack: 'NotoSans', sans-serif;
}

@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/NotoSans/NotoSansSC-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/NotoSans/NotoSansSC-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/NotoSans/NotoSansSC-Bold.otf') format('opentype');
  font-weight: 700;
}

/* not used by PDF */
@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/NotoSans/NotoSansSC-Black.otf') format('opentype');
  font-weight: 900;
}

/* only used by PDF */
@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/NotoSans/NotoSansSC-Thin.otf') format('opentype');
  font-weight: 100;
}
